<!DOCTYPE html>
<html>
    <head>
        <title>BaasCMS Parse Admin Panel</title>
		
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta charset="utf-8" />
		
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />

		<style type="text/css">
			#categories ul, #categories li{
				list-style: none; padding: 0px; margin: 0px;
			}
			
			#categories ul ul{
				padding: 0px 0px 0px 20px;				
			}
			
			#categories li{
				padding: 5px 0px 5px 0px;
			}

			#categories li.active > span{
				font-weight:bold;
			}		

			#main .glyphicon-folder-open  {
				font-size:30px;
				padding: 0px 8px 0px 8px;
			}
		</style>
		
		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.string/2.3.3/underscore.string.min.js"></script>
		<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/path.js/0.8.4/path.min.js"></script>
		
		<script src="//www.parsecdn.com/js/parse-1.2.19.min.js"></script>		
		
		<script src="//cdn.rawgit.com/Artod/baascms/master/dist/baascms-1.0.0.min.js"></script>
		<script src="//cdn.rawgit.com/Artod/baascms/master/dist/baascms-adapter-parse-1.0.0.min.js"></script>
		
		<script src="init.js"></script>
		
		<script src="../baascms-admin.min.js"></script>
		
		<script src="//www.google.com/jsapi?key=AIzaSyB-eOMMlzO0Wet2KL8r3qbKEhdLw4ORYe0"></script>
		<script src="//apis.google.com/js/client.js"></script>
	</head>	
    <body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">BaasCMS</a>
				</div>
				<ul class="nav navbar-nav">
					<li><a href="#/baascms/patterns">Patterns</a></li>
				</ul>
				<p class="navbar-text navbar-right" id="logged-in"><a href="#login-form"><strong>Log In</strong></a></p>				
			</div>
		</nav>	

		<div class="container">
			<div class="row">
				<div class="col-sm-3" style="padding-top:50px;">
					<div class="panel panel-default">
						<div class="panel-heading">Categories <a href="#/baascms/category/add">new+</a></div>
						<div class="panel-body" id="categories"></div>
					</div>
				</div>
				<div id="main" class="col-sm-8 col-sm-offset-1"></div>
			</div>
		</div>
		<div class="container text-right">
			<br />
			<br />
			Copyright (c) 2014 Artod
		</div>
			
		<div id="baascms-loader" style="display:none; position:fixed; top:20px; left:50%; margin-left:-30px; font-weight:bold;">Loading...</div>
		<div id="baascms-messages" style="display:none; position:fixed; top:50px; left:50%; margin-left:-200px; width:400px; font-weight:bold;"></div>		
		
		<script id="template-baascms-logged" type="text/template">
			Logged in as <strong><%= username %></strong> <a href="#" data-marker="logout" title="Log out"><span class="glyphicon glyphicon-log-out"></span></a>
		</script>
		
		<script id="template-baascms-message" type="text/template">
			<div class="alert alert-<%= type %> alert-dismissible"><%= message %></div>
		</script>
		
		<script id="template-baascms-home" type="text/template">
			<div class="page-header">
				<h1>BaasCMS</h1>
			</div>
			<p>Start working with BaasCMS (Parse.com version) by following these steps:</p>
			<ol>
				<li>Sign up for <a href="https://www.parse.com/#signup" target="_blank">Parse.com</a></li>
				<li>Create <a href="https://www.parse.com/apps/new" target="_blank">a new app</a>.</li>
				<li>Copy <i>Application ID</i> and <i>Javascript Key</i> of your app and paste them into this form:
					<p>
						<form>
							<div class="form-group">
								<div class="row">
									<div class="col-xs-3">
										<label>Application ID:</label>
										<input class="form-control" name="appid" placeholder="Application ID" type="text" />
									</div>
									<div class="col-xs-3">
										<label>Javascript Key:</label>
										<input class="form-control" name="jskey" placeholder="Javascript Key" type="text" />
									</div>
									<div class="col-xs-2">
										<label>&nbsp;</label>
										<button class="btn btn-primary">Save and Try</button>
									</div>
								</div>
								<p class="form-control-static"><u>Note</u>: yours keys will be stored in browser's cookies so from another computer or browser need to repeat 3 step.</p>
							</div>		
						</form>
					</p>
				</li>
				
			</ol>
			
			<div id="protect-your-data">
				<p>Protect your data:</p>
				<ol>
					<li>Create new admin:
						<p> </p>
						
						<form>
							<div class="form-group">
								<div class="row">
									<div class="col-xs-3">
										<label>Username:</label>
										<input class="form-control" name="username" placeholder="Username" type="text" />
									</div>
									<div class="col-xs-3">
										<label>Password:</label>
										<input class="form-control" name="password" placeholder="Password" type="password" />
									</div>
									<div class="col-xs-1">
										<label>&nbsp;</label>
										<button class="btn btn-primary">Create</button>
									</div>
								</div>
							</div>			
						</form>
					</li>
					<li>
						<a name="login-form"></a> Log In:
						<form>	
							<p> </p>
							<div class="form-group">
								<div class="row">
									<div class="col-xs-3">
										<label>Username:</label>
										<input class="form-control" name="username" placeholder="Username" type="text" />
									</div>
									<div class="col-xs-3">
										<label>Password:</label>
										<input class="form-control" name="password" placeholder="Password" type="password" />
									</div>
									<div class="col-xs-1">
										<label>&nbsp;</label>
										<button class="btn btn-primary">Log In</button>
									</div>
								</div>
							</div>							
						</form>
						
						<p class="form-control-static" data-marker="log-out" style="display:none;"></p>
					</li>
					<li>
						Go to <a href="https//www.parse.com/apps">Dashboard</a> and open your app's Data Browser.					
					</li>
					<li>
						Set permissions for each class as shown in screenshots below:					
						<br /><br /><a href="parse_set_perm1.jpg" target="_blank"><img src="parse_set_perm1.jpg" alt="" width="300px" /></a>
						<br /><br /><a href="parse_set_perm2.jpg" target="_blank"><img src="parse_set_perm2.jpg" alt="" width="300px" /></a>
						<br /><br /><a href="parse_set_perm3.jpg" target="_blank"><img src="parse_set_perm3.jpg" alt="" width="300px" /></a><br /><br />
						
						<p><u>Note</u>: after setting the permissions for the class User, you will not be able to create a new admin. If you need it, just return all back for a while.</p>

					</li>
					<li>
						Only after you have created the final structure of your site, disable the creation of new classes as shown in screenshots below:
						<br /><br /><a href="parse_set_perm4.jpg" target="_blank"><img src="parse_set_perm4.jpg" alt="" width="300px" /></a>
						<br /><br /><a href="parse_set_perm5.jpg" target="_blank"><img src="parse_set_perm5.jpg" alt="" width="300px" /></a><br /><br />
						
						<p><u>Note</u>: after disabling class creation, you will not be able to create items with a <strong>new</strong> pattern. If you need it, just return all back for a while.</p>
					</li>
				</ol>
			</div>
		</script>
		
		<script id="template-baascms-items-wrap" type="text/template">
			<div class="page-header">
				<h1><%= _.str.humanize(data.pattern.name) %></h1>
			</div>
			
			<p class="text-right"><a href="#/baascms/category/<%= data.category.id %>/item/add">Add new item +</a></p>
			
			<table class="table table-condensed table-hover">
				<thead>
					<tr>
						<% _.each(data.pattern.pattern, function(field) { %>
							<% if ( field && !{"textarea": 1, "hidden": 1}[field.type] ) { %>
								<th><a href="#/baascms/category/<%= data.category.id %>/page/<%= data.page %>/sort/<%= 
									_.str.ltrim(opts.sort, "-") !== field.name
										? field.name
										: (opts.sort === field.name ? "-" + field.name : field.name)
									%>"><%= _.str.humanize(field.name)%><%= _.str.ltrim(opts.sort, "-") !== field.name
										? ""
										: " <span class='glyphicon glyphicon-sort-by-attributes" + (opts.sort === field.name ? "" : "-alt") + "'></span>" %></a></th>
							<% } %>
						<% }) %>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody id="category-<%= data.category.id %>-items">
					<%= htmlElements %>
				</tbody>
			</table>			

			<% if (data.pages > 1) { %>
				<ul class="pagination">	
					<% for (var i = 1; data.pages >= i; i++) { %>
						<li<%= data.page == i ? " class='active'" : "" %>>
							<a href="#/baascms/category/<%= data.category.id %>/page/<%= i %>/sort/<%= opts.sort %>"><%= i %></a>
						</li>
					<% } %>
				</ul>
			<% } %>
		</script>
		
		<script id="template-baascms-items-element" type="text/template">
			<tr id="item<%= _.str.dasherize(data.category.pattern_name) %>-<%= item.id %>">			
				<% _.each(data.pattern.pattern, function(field) { %>
					<% if ( field && !{"textarea": 1, "hidden": 1}[field.type] ) { %>
						<td>
							<% if ( {"google drive image": 1}[field.type] && item[field.name] ) { %>						
								<img src="<%= item[field.name] %>" width="50px" alt="" />								
							<% } else  if ( {"google drive file": 1}[field.type] && item[field.name] ) { %>
								<a href="<%= item[field.name] %>">Link</a>
							<% } else { %>								
								<%= _.escape(item[field.name]) %>								
							<% } %>
						</td>
					<% } %>
				<% }) %>				
				<td>
					<a href="#/baascms/category/<%= item.category_id %>/item/<%= item.id %>/edit">edit</a>
					<a href="#" data-marker="delete" data-id="<%= item.id %>">delete</a>
				</td>
			</tr>
		</script>
		
		<script id="template-baascms-categories-wrap" type="text/template">			
			<ul>
				<%= htmlElements %>
			</ul>
		</script>

		<script id="template-baascms-categories-element" type="text/template">
			<li id="category-<%= category.id %>"<%= routeParams["cid"] === category.id ? " class='active'" : "" %>>
				<span>
					<% if (category.pattern_name) { %>
						<a href="#/baascms/category/<%= category.id %>"><%= _.escape(category.name) %></a>
					<% } else { %>
						<%= _.escape(category.name) %>
					<% } %>
					<%= category.count || category.count == 0 ? "<span class='badge pull-right'>" + category.count + "</span>" : "" %>
				</span>
				<a href="#/baascms/category/<%= category.id %>/edit"><span class="glyphicon glyphicon-pencil" style="color:#4CAE4C;"></span></a>
				<a href="#" data-marker="delete" data-id="<%= category.id %>"><span class="glyphicon glyphicon-remove" style="color:#F0AD4E;"></span></a>

				<%= htmlChildren %>
			</li>		
		
		</script>

		<script id="template-baascms-pattern-new-field" type="text/template">
			<div class="form-group">
				<div class="row">
					<div class="col-xs-3">
						<label>Field name</label>
						<input class="form-control" type="text" value="<%= (data.name ? data.name : "") %>" placeholder="Field name" data-marker="field-name" />
						<span class="help-block">Latin, numbers or '_'.</b></span>
					</div>
					<div class="col-xs-3">
						<label>Field type</label>
						<select class="form-control" data-marker="field-type">
							<% _.each(types, function(type) { %>
								<option value="<%= type %>"<%= data.type === type ? " selected" : "" %>><%= type %></option>
							<% }); %>
						</select>
					</div>
					<div class="col-xs-5<%= (data.type === "select" ? "" : " hidden") %>">
						<label>Options</label>
						<input class="form-control" type="text" value="<%= (data.options ? data.options : "") %>" placeholder="Options" data-marker="field-options" />
						<span class="help-block">divided by <b>";"</b></span>
					</div>
					<div class="col-xs-1" style="padding-top:32px;">
						<a href="#" data-marker="delete-field">delete</span></a>
					</div>
				</div>
			</div>
		</script>

		<script id="template-baascms-pattern-form" type="text/template">
			<div class="page-header">
				<h1><%= header %></h1>
			</div>
			<form>
				<input type="hidden" name="id" value="<%= (data.id ? data.id : "") %>" />

				<div class="form-group">
					<label for="text-name">Pattern name</label>
					<% if (data.name) { %>
						<p class="form-control-static"><%= data.name %></p>
						<input id="text-name" type="hidden" name="name" value="<%= data.name %>" />
					<% } else { %>
						<input id="text-name" class="form-control" type="text" name="name" value="" placeholder="name" />
						<span class="help-block">Latin letters or numbers.</b></span>
					<% } %>						
				</div>

				<div id="pattern-fields">
					<% if (!data.pattern) data.pattern = [{}]; %>
					<% var template = $("#template-baascms-pattern-new-field").html(); %>
					<% _.each(data.pattern, function(field) { %>
						<%= _.template(template, {
							data: field,
							types: types
						}) %>
					<% }) %>
				</div>

				<div class="form-group">
					<a id="add-new-field" href="#">Add new field +</a>
				</div>

				<button class="btn btn-primary"><%= button %></button>
			</form>
		</script>

		<script id="template-baascms-patterns" type="text/template">
			<div class="page-header">
				<h1>Patterns</h1>
			</div>
			
			<p class="text-right"><a href="#/baascms/pattern/add">Add new pattern +</a></p>
			
			<table class="table table-condensed table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<% _.each(data, function(el) { %>
						<tr id="pattern-<%= el.id %>">
							<td><%= el.name %></td>
							<td>
								<a href="#/baascms/pattern/<%= el.id %>/edit">edit</a>
								<a href="#" data-marker="delete" data-id="<%= el.id %>">delete</a>
							</td>
						</tr>
					<% }) %>
				</tbody>
			</table>			
		</script>
		
		<script id="template-baascms-form" type="text/template">
			<div class="page-header">
				<h1><%= header %></h1>
			</div>
			<form>
				<%= form %>
				<button class="btn btn-primary"><%= button %></button>
			</form>
		</script>

		<script id="template-baascms-form-element" type="text/template">
			<% if (type === "checkbox") { %>
				<div class="checkbox">
					<label>
						<input id="<%= id %>" name="<%= name %>" type="checkbox"  value="1" <%= value ? "checked='checked' " : "" %>/> <%= _.str.humanize(name) %>						
					</label>
				</div>
			<% } else if (type === "hidden") { %>
				<input id="<%= id %>" name="<%= name %>" type="hidden" value="<%= value %>" />
			<% } else { %>
				<div class="form-group">
					<label for="<%= type %>-<%= _.str.dasherize(name) %>"><%= _.str.humanize(name) %></label>
					
					<% switch(type) { case "text": case "number": %>
							<input id="<%= id %>" name="<%= name %>" class="form-control" placeholder="<%= name %>" type="<%= type %>" value="<%= _.escape(value) %>"<%= type === "number" ? "step='any'" : "" %> />

						<% break; case "google drive image": case "google drive file": %>
							<p class="form-control-static">
								<% if (type === "google drive image") { %>
									<a href="<%= value %>" <%= value ? "" : " style='display:none;'" %> data-marker="google-drive-result" target="_blank">
										<img width="50px" src="<%= value %>" />
									</a>
								<% } else { %>
									<a href="<%= value %>" <%= value ? "" : " style='display:none;'" %> data-marker="google-drive-result" target="_blank">Link</a> 
								<% } %>
								
								<input id="<%= id %>" name="<%= name %>" type="hidden" value="<%= value %>" />
								
								<a href="#" data-marker="gdrive-picker" data-type="<%= (type === "google drive image" ? "img" : "file") %>" title="Open Google Drive">
									<span class="glyphicon glyphicon-folder-open" style="color:#4CAE4C;"></span>
								</a>
								
								<a href="#"<%= value ? "" : " style='display:none;'" %> data-marker="google-drive-delete">delete</a>
							</p>
						<% break; case "textarea": %>
							<textarea id="<%= id %>" name="<%= name %>" class="form-control" placeholder="<%= name %>"><%= _.escape(value) %></textarea>
							
						<% break; case "select": %>
							<select id="<%= id %>" name="<%= name %>" class="form-control">							
								<% _.each(options, function(option) { %>
									<% option = _.isString(option) ? option.split(",") : option %>
									<option value="<%= _.escape(option[0]) %>"<%= option[0] == value ? " selected='selected'" : "" %>><%= _.escape(option[1] || option[0]) %></option>									
								<% }) %>							
							</select>
							
					<% break; } %>
				</div>
			<% } %>
		</script>		
    </body>
</html>